extends layout

block content
  h1= title
  p Welcome to #{title}, where would you like to go?
  a(href='crew/list') Crew List
  br
  br
  a(href='projects/list') Project List
  br
  br
  a(href='stages/list') Stage List
  br
  br
  a(href='credits/list') Credits List
