body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
table
  padding: 15px
  border-radius: 5px
  border-style: solid
  border-collapse: collapse
  th, td
    padding: 10px
    border-bottom: 2pt solid #ddd
.tracker_episode
  background-color: #0077DD
  a
    color: #55CC00
.tracker_director
  background-color: #FFF566
